:root {
    --panel-colours: rgb(0, 10, 53, 0.226);
    --panel-border-colour: rgba(255, 255, 255, 0.616)
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 2px solid red;
}

body {
    background: radial-gradient(rgb(78, 78, 255), cyan);
    height: 100vh;
}

.main-container {
    width: 100vw;
    height: 100vh;
}

.nav {
    position: absolute;
    bottom: 92vh;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    background-color: var(--panel-colours);
    border-bottom: 4px solid var(--panel-border-colour);
    border-left: 4px solid var(--panel-border-colour);
    border-bottom-left-radius: 20px;
    margin-left: 6%;
    transition: 2s;
}

.main-container div.nav:hover {
    transition: 2s;
    bottom: 20vh;
    background-color: rgb(0, 211, 70);
}

.title {
    position:relative;
    padding-left: 10%;
    top: 90%;
    height: 1em;
    font-size: 3rem;
    user-select: none;
    color: rgb(93, 74, 177);
    font-family: 'Poppins', sans-serif;
    text-shadow: .1rem .1rem white, -.1rem .1rem white, .1rem -.1rem white, -.1rem -.1rem white ;
}

.side-bar {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 5%;
    border-right: 5px solid var(--panel-border-colour);
    background-color: var(--panel-colours);
    transition: 2s;
}

.main-container div:hover {
    border-color: white;
    /* transition: .14s; */
}

.main-container div.side-bar:hover {
    width: 80vw;
    background-color: orange;
    transition: 2s;
}

.main {
    display: grid;
    height: 100vh;
    place-content: center;
    align-content: center;
}

.timer {
    font-size: 6rem;
    width: 17vw;
    font-family: 'Poppins', sans-serif;
    color: white;
}